<app-header></app-header>
<!-- Hero -->
<div class="flex">
  <div class="text-heading-color bg-slate-100 login-hero">
    <div class="loginhero-text">
      <h1 class="text-4xl font-bold mb-8">Sign Up Works</h1>
      <p class="max-w-xl">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta veniam
        porro facere, ullam perferendis quo labore, corporis, ea doloribus
        praesentium voluptatibus eveniet rem corrupti!
      </p>
    </div>
  </div>
  <div class="bg-white loginFormContainer flex flex-col items-center">
    <div class="flex items-center">
      <img src="assets/img/codebyters_logo.png" width="40" height="40" alt="" />
      <h1 class="text-3xl font-bold">
        Codebyters <span class="font-light">Sign up</span>
      </h1>
    </div>
    <form
      class="w-full mt-10"
      #registerForm="ngForm"
      (ngSubmit)="registerUser(registerForm.value)"
    >
      <label for="name" class="text-sm"
        >Name <span class="text-red-600">*</span></label
      >
      <div class="flex gap-2 mb-4" id="name">
        <input
          type="text"
          name="firstname"
          class="w-full focus:outline-none border rounded-md h-10 p-3 placeholder:font-light placeholder:text-sm font-light text-md"
          placeholder="Firstname"
          required
          ngModel
        />
        <input
          type="text"
          name="lastname"
          class="w-full focus:outline-none border rounded-md h-10 p-3 placeholder:font-light placeholder:text-sm font-light text-md"
          placeholder="Lastname"
          required
          ngModel
        />
      </div>
      <label for="email" class="text-sm"
        >Email <span class="text-red-600">*</span></label
      >
      <div class="flex gap-2 mb-4">
        <input
          id="email"
          type="email"
          name="email"
          class="w-full focus:outline-none border rounded-md h-10 p-3 placeholder:font-light placeholder:text-sm font-light text-md"
          placeholder="Firstname"
          required
          ngModel
          pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          (keydown.space)="$event.preventDefault()"
        />
      </div>
      <label for="password" class="text-sm"
        >Password<span class="text-red-600">*</span></label
      >
      <div class="flex gap-2 mb-4">
        <input
          id="password"
          type="password"
          name="password"
          class="w-full focus:outline-none border rounded-md h-10 p-3 placeholder:font-light placeholder:text-sm font-light text-md"
          placeholder="Password"
          required
          ngModel
        />
      </div>
      <label for="re_enter_password" class="text-sm"
        >Re-enter Password <span class="text-red-600">*</span></label
      >
      <div class="flex gap-2">
        <input
          id="re_enter_password"
          type="password"
          name="re_enter_password"
          class="w-full focus:outline-none border rounded-md h-10 p-3 placeholder:font-light placeholder:text-sm font-light text-md"
          placeholder="Re-enter Password"
          required
          ngModel
        />
      </div>
      <button class="w-full submit-btn h-12 rounded mt-5" type="submit">
        Sign me in
      </button>
      <p class="registernow-text">
        Already a member? Click
        <a routerLink="/login" class="text-codebyters-teal">here</a> to login
      </p>
    </form>
    <div class="copyrights">
      <hr />
      <span>© Kaarlo Sasiang, All Rights Reserved 2022</span>
    </div>
  </div>
</div>
