<app-header></app-header>

<!-- Hero -->
<div class="bg-gray-100">
  <div class="container mx-auto py-10 px-10 flex items-center justify-between">
    <div class="text-heading-color">
      <h1 class="text-4xl font-bold mb-8">Home Works</h1>
      <p class="max-w-xl">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta veniam
        porro facere, ullam perferendis quo labore, corporis, ea doloribus
        praesentium voluptatibus eveniet rem corrupti!
      </p>
      <button href="#" class="btn">Contact Us</button>
    </div>
    <div>
        <img src="../../assets/img/codebyters_logo.png" alt="" class="max-w-md">
    </div>
  </div>
</div>
